<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsApp9.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsFormsApp9.Properties.Settings>
            <setting name="o1" serializeAs="String">
                <value />
            </setting>
            <setting name="c1" serializeAs="String">
                <value />
            </setting>
            <setting name="c2" serializeAs="String">
                <value />
            </setting>
            <setting name="o2" serializeAs="String">
                <value />
            </setting>
            <setting name="c3" serializeAs="String">
                <value />
            </setting>
            <setting name="o3" serializeAs="String">
                <value />
            </setting>
            <setting name="c4" serializeAs="String">
                <value />
            </setting>
            <setting name="o4" serializeAs="String">
                <value />
            </setting>
            <setting name="c5" serializeAs="String">
                <value />
            </setting>
            <setting name="o6" serializeAs="String">
                <value />
            </setting>
            <setting name="o5" serializeAs="String">
                <value />
            </setting>
            <setting name="c6" serializeAs="String">
                <value />
            </setting>
            <setting name="c7" serializeAs="String">
                <value />
            </setting>
            <setting name="c8" serializeAs="String">
                <value />
            </setting>
            <setting name="c9" serializeAs="String">
                <value />
            </setting>
            <setting name="c10" serializeAs="String">
                <value />
            </setting>
            <setting name="c11" serializeAs="String">
                <value />
            </setting>
            <setting name="c12" serializeAs="String">
                <value />
            </setting>
            <setting name="c13" serializeAs="String">
                <value />
            </setting>
            <setting name="c14" serializeAs="String">
                <value />
            </setting>
            <setting name="c15" serializeAs="String">
                <value />
            </setting>
            <setting name="c16" serializeAs="String">
                <value />
            </setting>
            <setting name="c17" serializeAs="String">
                <value />
            </setting>
            <setting name="c18" serializeAs="String">
                <value />
            </setting>
            <setting name="c19" serializeAs="String">
                <value />
            </setting>
            <setting name="c20" serializeAs="String">
                <value />
            </setting>
            <setting name="c21" serializeAs="String">
                <value />
            </setting>
            <setting name="c22" serializeAs="String">
                <value />
            </setting>
            <setting name="c23" serializeAs="String">
                <value />
            </setting>
            <setting name="c24" serializeAs="String">
                <value />
            </setting>
            <setting name="c25" serializeAs="String">
                <value />
            </setting>
            <setting name="c26" serializeAs="String">
                <value />
            </setting>
            <setting name="c27" serializeAs="String">
                <value />
            </setting>
            <setting name="c28" serializeAs="String">
                <value />
            </setting>
            <setting name="c29" serializeAs="String">
                <value />
            </setting>
            <setting name="c30" serializeAs="String">
                <value />
            </setting>
            <setting name="c31" serializeAs="String">
                <value />
            </setting>
            <setting name="c32" serializeAs="String">
                <value />
            </setting>
            <setting name="o7" serializeAs="String">
                <value />
            </setting>
            <setting name="o8" serializeAs="String">
                <value />
            </setting>
            <setting name="o9" serializeAs="String">
                <value />
            </setting>
            <setting name="o10" serializeAs="String">
                <value />
            </setting>
            <setting name="o11" serializeAs="String">
                <value />
            </setting>
            <setting name="o12" serializeAs="String">
                <value />
            </setting>
            <setting name="o13" serializeAs="String">
                <value />
            </setting>
            <setting name="o14" serializeAs="String">
                <value />
            </setting>
            <setting name="o15" serializeAs="String">
                <value />
            </setting>
            <setting name="o16" serializeAs="String">
                <value />
            </setting>
            <setting name="o17" serializeAs="String">
                <value />
            </setting>
            <setting name="o18" serializeAs="String">
                <value />
            </setting>
            <setting name="o19" serializeAs="String">
                <value />
            </setting>
            <setting name="o20" serializeAs="String">
                <value />
            </setting>
            <setting name="o21" serializeAs="String">
                <value />
            </setting>
            <setting name="o22" serializeAs="String">
                <value />
            </setting>
            <setting name="o23" serializeAs="String">
                <value />
            </setting>
            <setting name="o24" serializeAs="String">
                <value />
            </setting>
            <setting name="o25" serializeAs="String">
                <value />
            </setting>
            <setting name="o26" serializeAs="String">
                <value />
            </setting>
            <setting name="o27" serializeAs="String">
                <value />
            </setting>
            <setting name="o28" serializeAs="String">
                <value />
            </setting>
            <setting name="o29" serializeAs="String">
                <value />
            </setting>
            <setting name="o30" serializeAs="String">
                <value />
            </setting>
            <setting name="o31" serializeAs="String">
                <value />
            </setting>
            <setting name="o32" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp9.Properties.Settings>
    </userSettings>
</configuration>